<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <h1>Edit: {{user.full_name}}</h1>
    <form action="/users/{{user.id}}/update/" method="post">
        {% csrf_token %} 
        Full Name:<br><input type="text" name="full_name" value="{{user.full_name}}"><br><br>
        Email: <br><input type="text" name="email" value="{{user.email}}"><br><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>