<html>
<head>
    <title>Registration form</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Enter a Valid(Any) Name!</h1>
    <div id="errors">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}    
    <p id="validated">{{session['success']}}</p>
    </div>    
    <form action='/process' method='POST'>
        Name: <input type="text" name="first_name"><br>
        Last Name: <input type="text" name="last_name"><br>
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password"><br>
        Confirm Passowrd: <input type="password" name="pass_confirmation"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
    