<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Thank You - Amadon</title>
</head>
<body>
    <h1>Thank you for your Business!</h1>
    <h3>We charged your card for $ {{request.session.total_money}}</h3>
    <p>You order: {{request.session.quantity}} of {{request.session.item_name}}</p>
</body>
</html>