<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Amadon</title>
</head>
<body>
    <h1>Amadon Store</h1>
    {% for item in items_print %}
        <div class="product_area">
            <h3>{{item.item_name}}</h3>
            <p>Price: $ {{item.price}} </p>
            <form action="/store/buy/" method="post">
                {% csrf_token %}
                <select name="quantity" id="">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <input type="hidden" name="item" value="{{item.product_id}}">
                <input type="submit" value="Buy!">
            </form>
        </div>
    {% endfor %}



</body>
</html>