<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>
<body>
    <h1>Ninja Gold</h1>
    <h2>Your Gold: {{session['count']}}</h2>
    <div id="forms_area">
        <form action="/process_money" method="post">
            <h3>Farm</h3>
            <p>(earns 10-20 golds)</p>
            <input type="hidden" name="building" value="farm" />
            <input type="submit" value="Find Gold!"/>
        </form>
        <form action="/process_money" method="post">
            <h3>Cave</h3>
            <p>(earns 5-10 golds)</p>
            <input type="hidden" name="building" value="cave" />
            <input type="submit" value="Find Gold!"/>
        </form>
        <form action="/process_money" method="post">
            <h3>House</h3>
            <p>(earns 2-5 golds)</p>
            <input type="hidden" name="building" value="house" />
            <input type="submit" value="Find Gold!"/>
        </form>
        <form action="/process_money" method="post">
            <h3>Casino</h3>
            <p>(earns/takes 0-50 golds)</p>
            <input type="hidden" name="building" value="casino" />
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div id="activities">
        <h2>Activities:</h2>
        <h4>{{session['at_start']}}</h4>
        {% for comment in session['to_html']: %}
        <p class="pactivity">{{comment}}</p>
        {% endfor %}
        
    </div>
    <div id="resetarea">
        <form action="/reset">
            Reset HERE! <input type="submit" value="reset">
        </form>
    </div>

</body>
</html>