#errors{
    background-color: #D79595;
    color: #282020;
    font-weight: bold;
    padding: 10px;
}

input{
    margin: 10px;
}

#validated{
    background-color: #BDE0BD;
    color: black;
    padding: 10px;
}